 table, th, td{
    border: 2px solid black;
    padding: 2px;
    border-color: rgb(5, 100, 68);
}
th,td{
    text-align: center;

}
table{
    width: 100%;
    border-collapse: collapse;
}
/* tr:nth-child(even){
    background-color: rgb(246, 193, 246);
}
tr:nth-child(odd){
    background-color: rgb(167, 104, 251);
}
tr:hover{
    background-color: yellow;
} */
 tr:nth-child(even) {
  background-color: rgba(28, 134, 134, 0.4);
}

th:nth-child(even),td:nth-child(even) {
  background-color: rgba(58, 161, 161, 0.4);
}